	$main-clr: #fff;
    $main-clr-hover:#1abc9c;
    $main-clr-hover-btn:#f74c4c;
    $main-clr-active:#c83131;
    $sec-clr:#1abc9c;

    $main-text-clr:#95a5a6;
    $sec-text-clr: #ffffff;
    $bg-clr:#ffffff;

    
    $main-font: 'Quicksand', sans-serif;
    $sec-font: 'Rokkitt', serif;