@media (min-width: 1200px) {
  /* line 3, ../../sass/main/responsive.scss */
  .gallery a:hover .zoom, .gallery a:hover .caption {
    display: block;
  }
}
@media (max-width: 768px) {
  /* line 9, ../../sass/main/responsive.scss */
  .main-cover .navbar-toggle {
    margin-top: 30px;
    border: 1px solid #fff;
  }

  /* line 14, ../../sass/main/responsive.scss */
  .icon-bar {
    background: #fff;
  }

  /* line 17, ../../sass/main/responsive.scss */
  .main-cover .navbar-brand {
    margin-top: -70px;
    padding-left: 0px;
  }

  /* line 22, ../../sass/main/responsive.scss */
  .main-cover #navbar-collapse li > a {
    margin: 22px 8px;
  }
}
@media (max-width: 992px) {
  /* line 28, ../../sass/main/responsive.scss */
  .about-me .dp-about {
    padding: 50px 30px;
  }

  /* line 31, ../../sass/main/responsive.scss */
  .ft .social-l {
    margin-left: auto;
  }

  /* line 36, ../../sass/main/responsive.scss */
  .ft .social-r {
    margin-right: auto;
  }

  /* line 40, ../../sass/main/responsive.scss */
  .portfolio .gallery {
    padding: 15px 20px;
  }

  /* line 43, ../../sass/main/responsive.scss */
  .portfolio .vm {
    padding-top: 45px;
    padding-bottom: 55px;
  }

  /* line 47, ../../sass/main/responsive.scss */
  .view-more {
    font-size: 18px;
  }

  /* line 50, ../../sass/main/responsive.scss */
  .contact textarea {
    margin-top: 30px;
  }

  /* line 53, ../../sass/main/responsive.scss */
  .contact input {
    width: 90%;
  }
}
@media (max-width: 490px) {
  /* line 58, ../../sass/main/responsive.scss */
  .ft .cb, .ft .copy {
    display: block;
    position: relative;
    float: none;
    text-align: center;
    padding: 0 0 40px 0;
  }

  /* line 65, ../../sass/main/responsive.scss */
  .main-cover h1 {
    font-size: 45px;
  }

  /* line 68, ../../sass/main/responsive.scss */
  .main-cover h2 {
    font-size: 16px;
  }

  /* line 71, ../../sass/main/responsive.scss */
  .full-btn {
    font-size: 15px;
    padding: 10px 38px;
  }

  /* line 75, ../../sass/main/responsive.scss */
  .about-me h2 {
    font-size: 25px;
  }

  /* line 78, ../../sass/main/responsive.scss */
  .about-me .dp-about {
    font-size: 16px;
  }

  /* line 81, ../../sass/main/responsive.scss */
  .about-me h3 {
    font-size: 18px;
  }

  /* line 84, ../../sass/main/responsive.scss */
  .portfolio h2 {
    font-size: 35px;
  }

  /* line 87, ../../sass/main/responsive.scss */
  .contact h2 {
    font-size: 35px;
  }

  /* line 90, ../../sass/main/responsive.scss */
  .cb {
    padding-bottom: 50px;
  }
}
